@model Someren_Applicatie.Models.DrinkOrderViewModel

@{
    ViewData["Title"] = "Add Order";
}

<h1>Wat wil je bestellen?</h1>
@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }

    if(TempData["ConfirmMessage"] != null)
    {
        <div class="alert alert-success">@TempData["ConfirmMessage"]</div>
    }
}
<form action="/Orders/AddOrder" method="post">

    <div class="form-group py-2">
        <label for="SelectedStudentNr" class="form-control">Naam student:</label>
        <select asp-for="SelectedStudentNr" asp-items="@(new SelectList(Model.Students, "StudentNr", "Voornaam"))" class="form-control">
            <option value="">Kies een student</option>
        </select>
        <span asp-validation-for="SelectedStudentNr" class="text-danger"></span>
    </div>

    <div class="form-group py-2">
        <label for="SelectedDrankId">Wat wil je bestellen?</label>
        <select asp-for="SelectedDrankId" asp-items="@(new SelectList(Model.Drinks, "DrankId", "DrankNaam"))" class="form-control">
            <option value="">Kies een drankje</option>
        </select>
        <span asp-validation-for="SelectedDrankId" class="text-danger"></span>
    </div>
    <div class="form-group py-2">
        <label asp-for="Aantal">Aantal drankjes</label>
        <input asp-for="Aantal" class="form-control" required value="@Model?.Aantal" />
    </div>
<button type="submit" class="btn btn-success btn-hover m-1">Opslaan</button>
</form>
<a href="/Home/Index" class="btn btn-dark btn-hover m-1">Ga terug naar de home pagina</a>

