@model Someren_Applicatie.Models.Activiteit
@{
    ViewData["Title"] = "Create Activiteit";
}

<h4>Nieuwe Activiteit</h4>
@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}
<form action="/Activities/Create" method="post">
    <div class="form-group py-2">
        <label asp-for="Naam">Naam activiteit:</label>
        <input asp-for="Naam" class="form-control" required value="@Model?.Naam" />
    </div>
    <div class="form-group py-2">
        <label asp-for="StartTijd">Starttijd:</label>
        <input asp-for="StartTijd" class="form-control" required value="@Model?.StartTijd.ToString("yyyy-MM-ddTHH:mm")" />
    </div>
    <div class="form-group py-2">
        <label asp-for="EindTijd">Eindtijd:</label>
        <input asp-for="EindTijd" class="form-control" required value="@Model?.EindTijd.ToString("yyyy-MM-ddTHH:mm")"  />
    </div>

    <button type="submit" class="btn btn-success m-1">Add</button>
</form>

<a href="/Activities/Index" class="btn btn-dark m-1">Ga terug naar de lijst met activiteiten</a>
