@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Someren_Applicatie.Models.Activiteit>

@{
    ViewData["Title"] = "Activities";
}

<div class="text-center">
    <h1 class="display-4">Activities</h1>
    <p>All Activities are displayed here.</p>
    <a href="/Activities/Create">Create new</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Activiteitid</th>
            <th>Naam</th>
            <th>Starttijd</th>
            <th>Eindtijd</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Activiteit activiteit in Model)
            {
                <tr>
                    <td>@activiteit.ActiviteitId</td>
                    <td>@activiteit.Naam</td>
                    <td>@activiteit.StartTijd</td>
                    <td>@activiteit.EindTijd</td>
                    <td>
                        <a href="/Activities/Edit/@activiteit.ActiviteitId">Edit</a>
                        <a href="/Activities/Delete/@activiteit.ActiviteitId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
