@model Someren_Applicatie.Models.Room
@{
    ViewData["Title"] = "Delete Room";
}

@{
    <h1>Verwijder slaapkamer</h1>
    <form action="/Rooms/Delete" method="post">
        <input hidden type="text" name="KamerNummer" value="@Model?.KamerNummer" />

        <div class="form-group py-2">
            <label asp-for="KamerNummer">Kamernummer:</label>
            <input asp-for="KamerNummer" class="form-control" required value="@Model?.KamerNummer" />
        </div>
        <div class="form-group py-2">
            <label asp-for="AantalSlaaplekken">Aantal slaaplekken:</label>
            <input asp-for="AantalSlaaplekken" class="form-control" required value="@Model?.AantalSlaaplekken" />
        </div>
        <div class="form-group py-2">
            <label for="TypeKamer">Type kamer:</label>
            <select id="TypeKamer" name="TypeKamer" class="form-control">
                <option value="Student">Student</option>
                <option value="Lecturer">Docent</option>
            </select>
        </div>

        <button type="submit" class="btn btn-danger m-1">Verwijderen</button>
    </form>

    <a href="/Rooms/Index" class="btn btn-dark m-1">Ga terug naar de lijst met slaapkamers</a>
}
