@model Someren_Applicatie.Models.Room
@{
    ViewBag.Title = "Room";
}
<form action="/Rooms/Details">
    <input hidden type="number" name="KamerNummer" value="@Model?.KamerNummer" />
    <h1>Kamergegevens van kamer @Model?.KamerNummer</h1>

    <div class="row">
        <h5>Kamernummer: @Model?.KamerNummer</h5>
    </div>
    <div class="row">
        <h5>Aantal slaaplekken: @Model?.AantalSlaaplekken</h5>
    </div>
    <div class="row">
        <h5>Type kamer: @Model?.TypeKamer</h5>
    </div>
    @{
        if(Model?.TypeKamer == Someren_Applicatie.Models.Enums.TypeKamer.Student)
        {

            <div class="row">
                <h5>Naam studenten</h5>
            </div>
        }
        else
        {
            <div class="row">
            <h5>Naam docent:</h5>
            </div>
        }
    }
</form>
