@model List<Someren_Applicatie.Models.Room>
@{
    ViewData["Title"] = "Rooms";
 }

    <div class="text-center">
        <h1 class="display-4">Slaapkamers</h1>
        <a href="/Rooms/Create" class="btn btn-success">Voeg een slaapkamer toe</a>
        <p>Aantal kamers: @Model.Count</p>
        <!--Filter functionaliteit-->
            <select>
                <option value="1">1</option>
                <option value="8">8</option>
            </select>
            <input type="submit" />
        <table class="table table-info">
            <thead>
                <tr class="table-dark">
                    <th>Kamernummer</th>
                    <th>Aantal slaapplekken</th>
                    <th>Type kamer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Room room in Model)
                    {
                        <tr>
                            <td>@room.KamerNummer</td>
                            <td>@room.AantalSlaaplekken</td>
                            <td>@room.TypeKamer</td>
                            <td>
                                <a href="/Rooms/Edit/@room.KamerNummer" class="btn btn-dark">Aanpassen</a>
                                <a href="/Rooms/Delete/@room.KamerNummer" class="btn btn-danger">Verwijderen</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>



