@model Someren_Applicatie.Models.Lecturer
@{
	ViewData["Title"] = "Create Lecturer";
}

<h1>Nieuwe Docent</h1>
@{
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}

<form action="/Lecturers/Create" method="POST">
    @*Voornaam*@
    <div class="form-group py-2">
        <label asp-for="Voornaam">Voornaam:</label>
        <input asp-for="Voornaam" class="form-control" required value="@Model?.Voornaam" />
    </div>
    @*Achternaam*@
    <div class="form-group py-2">
        <label asp-for="Achternaam">Achternaam:</label>
        <input asp-for="Achternaam" class="form-control" required value="@Model?.Achternaam" />
    </div>
    @*Telefoonnummer*@
    <div class="form-group py-2">
        <label asp-for="TelefoonNr">Telefoonnummer:</label>
        <input asp-for="TelefoonNr" class="form-control" required value="@Model?.TelefoonNr" />
    </div>
    @*Leeftijd*@
    <div class="form-group py-2">
        <label asp-for="Leeftijd">Leeftijd:</label>
        <input asp-for="Leeftijd" class="form-control" required value="@Model?.Leeftijd" />
    </div>
    @*Kamernummer*@
    <div class="form-group py-2">
        <label asp-for="KamerNr">Kamernr:</label>
        <input asp-for="KamerNr" class="form-control" required value="@Model?.KamerNr" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a href="/Lecturers/Index">Back to List</a>