@model Someren_Applicatie.Models.Student
<h4>Nieuwe student toevoegen</h4>
@{
    ViewData["Title"] = "Student toevoegen";
    if(ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}

<form action="/Students/Create" method="POST">
    <div class="form-group py-2">
        <label for="Voornaam">Voornaam</label>
        <input type="text" id="Voornaam" name="Voornaam" class="form-control" required value="@Model?.Voornaam" />
    </div>

    <div class="form-group py-2">
        <label for="Achternaam">Achternaam</label>
        <input type="text" id="Achternaam" name="Achternaam" class="form-control" required value="@Model?.Achternaam" />
    </div>

    <div class="form-group py-2">
        <label for="TelefoonNr">Telefoon nummer</label>
        <input type="text" id="TelefoonNr" name="TelefoonNr" class="form-control" required value="@Model?.TelefoonNr" />
    </div>

    <div class="form-group py-2">
        <label for="Klas">Klas</label>
        <input type="text" id="Klas" name="Klas" class="form-control" required value="@Model?.Klas" />
    </div>

    <div class="form-group py-2">
        <label for="Kamernr">Kamer nummer</label>
        <input type="text" id="Kamernr" name="Kamernr" class="form-control" required value="@Model?.KamerNr" />
    </div>

    <button type="submit" class="btn btn-success btn-hover m-1">Toevoegen</button>
</form>

<a href="/Students/Index" class="btn btn-dark btn-hover m-1">Terug naar lijst</a>
